# Meta (Facebook/Instagram) App Credentials
# Get these from https://developers.facebook.com

META_APP_ID=1754806639211913
META_APP_SECRET=1e4a6cee9fd6e666553e25d2f0682bf0
META_REDIRECT_URI=https://team-management-system-zq6x.onrender.com